// head {
@__nodeId__: ~"ss_cp_trees_tree_own__main";
// }

.@{__nodeId__} {

    .block() {
        float: left;
        margin: 10px;
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15), 1px 1px 4px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        min-width: 250px;
    }

    > .users {
        .block;
    }

    > .providers {
        .block;
    }

    > .cats {
        .block;
        padding: 10px 0;
    }
}
