// head {
@import "../../../../../css/std/-/less/main.less";

@__nodeId__: ~"ss_multisource_cp__main";
// }

.@{__nodeId__} {
    display: flex;

    .divisions {
        margin: 5px;
    }

    .warehouses {
        margin: 5px;
    }

    .create_button {
        .__button;
        .small;
        margin-top: 5px;
    }
}
