// head {
@__nodeId__: ~"ss_importLog_commander_panel__main_diff";
// }

.@{__nodeId__} {
    display: flex;

    .section {
        display: flex;
        flex-direction: column;

        .label {
            font-weight: bold;
            margin: 10px 0;
        }
    }
}
